<mat-table [dataSource]="zone.steps">
  <ng-container matColumnDef="step-text">
    <mat-header-cell *matHeaderCellDef>
      {{zone.name}}
      <span *ngIf="zone.completed" class="zone-completed-badge">Zone completed</span>
    </mat-header-cell>
    <mat-cell *matCellDef="let step" class="step-cell">
      <h2>{{step.text}}
        <mat-list *ngIf="step.hints.length > 0 && !step.completed && (step.showHints > 0  || spoilers)">
          <ng-container *ngFor="let hint of step.hints;let i = index; let last = last">
            <mat-list-item *ngIf="!step.completed && ((spoilers && last) || i < step.showHints)">
              <p>{{ hint }}</p>
            </mat-list-item>
          </ng-container>
        </mat-list>
        <mat-icon
          [matBadge]="step.hints.length - step.showHints"
          *ngIf="!spoilers && step.hints.length > 0 && step.showHints < step.hints.length && !step.completed"
          class="hints-icon"
          fontIcon="help"
          click-stop-propagation
          (click)="showHint(step)"
        ></mat-icon>
      </h2>
    </mat-cell>
  </ng-container>
  <mat-header-row
    *matHeaderRowDef="['step-text']"
    (click)="toggleStepsVisibility($event)"
  ></mat-header-row>
  <mat-row
    *matRowDef="let step; columns: ['step-text']"
    class="step-row"
    [ngClass]="{'step-completed': step.completed, 'hide': !showSteps}"
    (click)="toggleStepCompleted(step)"
  ></mat-row>
</mat-table>
